.update{
    text-align: center;
    background-color: black;
    color: goldenrod;
    font-size: 21px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    width: 700px;
}
.italicText{
    font-style: italic;
}
.letterFormat{
    text-transform: uppercase;
}
input{
    width: 200px;
    height: 25px;
    font-size: 15px;
} 
input.txt{
    background-color:coral;
}
.select{
    width: 300px;
    background-color: darkkhaki;
}
/*for color changing form*/
.box{
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(12, 12, 11);
    margin-top: 20px;
    padding: 35px  36px ;
    width: 400px;
    height: 400px;
    border-radius: 3px;
}
label{
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
    margin-left: 100px;
}
.input-box{
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px black;
}

